<div class="container" *ngIf="producto">
  <div class="row-mt-5">
    <div class="col-md-4 mx-auto">
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="producto.nombre" required>
        </div>
        <div class="form-group">
          <label for="precio">Precio</label>
          <input type="number" name="precio" id="precio" class="form-control" [(ngModel)]="producto.precio" required>
        </div>
        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
      </form>
    </div>
  </div>
</div>